h2{
    font-weight:700;
    font-family: sans-serif;
    margin-left: 20px;
}

li{
    font-size: 20px;
    padding: 10px;
}

.yes{
    list-style-image: url('icons/checked_16.png');
    text-decoration-line: line-through;
    background-color: rgb(206, 206, 206);
    list-style-position: inside;
    
}


.nodb{
    background-color: rgba(51, 166, 233, 0.808);
    list-style-position: inside;
    list-style-image: url('icons/unchecked_16.png');
}

.nob{
    background-color: rgba(193, 214, 252, 0.808);
    list-style-position: inside;
    list-style-image: url('icons/unchecked_16.png');
}


li::after{
    content: '\2718';
    color: rgb(235, 5, 5);
}


/* li::before{
    display: inline-block;
    text-align: center;
    margin: 5px;
} */
