
body{
    margin: 0;
}


.round:hover{
margin: 0;
background-color:rgba(204, 0, 204, 0.315);
transition-duration: .2s;
  
}
.round{
font-size: 100px;
text-align:center;
position: relative;
cursor: pointer;
}