.queen {
	width: 20px;
	height: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-bottom: 50px solid rgb(32, 27, 27);
    position: relative;
    top: 30px;
    left:20px;
}
.queen::before{
    content: " ";
    display: block;
        width:28px;
        height: 28px;
        background: rgb(32, 27, 27);
        border-radius: 50px;
        top:-5px;
        left: -4px;
       position: relative;
}
.queen::after{
   
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top:20px solid rgb(32, 27, 27); 
    content: " ";
    display: block;
        width:8px;
        height: 8px;
        position: relative;
        top:-51px;
        left: -3px;
}


.queen2 {
	width: 20px;
	height: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-bottom: 50px solid rgb(192, 192, 192);
    position: relative;
    top: 30px;
    left:20px;
}
.queen2::before{
    content: " ";
    display: block;
        width:28px;
        height: 28px;
        background: rgb(192, 192, 192);
        border-radius: 50px;
        top:-5px;
        left: -4px;
       position: relative;
}
.queen2::after{
   
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top:20px solid rgb(192, 192, 192); 
    content: " ";
    display: block;
        width:8px;
        height: 8px;
        position: relative;
        top:-51px;
        left: -3px;
}