.tower{
    width:65px;
	height: 35px;
    background: rgb(32, 27, 27); 
    transform: rotate(270deg);
    position: relative;
    top:50px;
    left:10px;
}
.tower::before{
    width:65px;
	height: 15px;
    background: rgb(32, 27, 27); 
    content: ' ';
    display: block;
    position: relative;
    top:10px;
    left:30px;
    transform: rotate(90deg);
}

.tower2{
    width:65px;
	height: 35px;
    background: rgb(192, 192, 192); 
    transform: rotate(270deg);
    position: relative;
    top:50px;
    left:10px;
}
.tower2::before{
    width:65px;
	height: 15px;
    background: rgb(192, 192, 192); 
    content: ' ';
    display: block;
    position: relative;
    top:10px;
    left:30px;
    transform: rotate(90deg);
}